<h1>A Mission-Based Program:</h1> <br /><br />

The Garden Hill Fund is a response to two missions.  The first is the mission of the Mountain School itself:  <em>The Mountain School cultivates a diverse and interdependent community of scholars who learn to know a place and take care of it.  Through collaborative learning and shared work, students emerge from their semester prepared to reach beyond the self and focus on the common good.</em> <br /><br />

Implicit in this mission is that it is realized in the adult lives of the school’s graduates, in their ongoing and various efforts to “reach beyond the self and focus on the common good.” <br /><br />

The second is the mission of the Mountain School Alumni Initiative: <em>The Mission of the Mountain School Alumni Initiative is to support a dynamic community of Mountain School graduates by connecting them to each other and helping them carry forward the intellectual curiosity, celebration of place and commitment to service we associate with the Mountain School.</em> <br /><br />

Thus the processes and systems of the Fund are designed to connect Mountain Schoolers across the generations, and give them opportunities to know about and support each other’s good work.  (Current students will be part of the process of reading and rating proposals.) <br /><br />

Mountain School graduates may apply for GRANTS of up to $10,000, or MINI-GRANTS of up to $1000 for projects that benefit “the common good” in a range of ways.  Click <%= link_to "here", pages_apply_path %> to apply<br /><br />

The Alumni Committee does not want the guidelines for the first year of the Garden Hill Fund to be overly restrictive, because we view this first round of grants as a learning opportunity for us.  That said, we are looking to fund proposals that meet much of the following criteria:<br />
•	Creative responses to the Mission of the school and the spirit of the alumni initiative.  (We would like to fund a diversity of projects.)<br />
•	Projects that have a clear positive impact on other people<br />
•	Tangible results within a reasonably short time span<br />
•	Skill-building in the graduate, which can be used in further endeavors<br />
•	Lean and realistic project budgets <br />
•	Ongoing impact of the project when possible<br /><br />

Examples might be:<br />
•	A college summer of service;<br />
•	A “big idea” from a recent college graduate who needs some seed money to investigate it;<br />
•	A community-based project that exemplifies the idea of “knowing and caring for a place,” brought by a graduate who volunteers time and expertise where he or she lives;<br />
•	A new program in the civic sector that needs seed money, brought by a graduate who has a leadership role in a non-profit organization<br /><br />

But we are open to other creative responses to the two missions.<br /><br />