<h1>A Mission-Based Program:</h1> <br /><br />

The Garden Hill Fund is a response to two missions.  The first is the mission of the Mountain School itself:  <em>The Mountain School cultivates a diverse and interdependent community of scholars who learn to know a place and take care of it.  Through collaborative learning and shared work, students emerge from their semester prepared to reach beyond the self and focus on the common good.</em> <br /><br />

Implicit in this mission is that it is realized in the adult lives of the school’s graduates, in their ongoing and various efforts to “reach beyond the self and focus on the common good.” <br /><br />

The second is the mission of the Mountain School Alumni Initiative: <em>The Mission of the Mountain School Alumni Initiative is to support a dynamic community of Mountain School graduates by connecting them to each other and helping them carry forward the intellectual curiosity, celebration of place and commitment to service we associate with the Mountain School.</em> <br /><br />

Thus the processes and systems of the Fund are designed to connect Mountain Schoolers across the generations, and give them opportunities to know about and support each other’s good work.  (Current students will be part of the process of reading and rating proposals.) <br /><br />
