<h1>How To Apply:</h1> <br />

<%= button_to "Download the Proposal Form", "/FundApp.docx", :method => :get %>

Mountain School graduates may apply for GRANTS of up to $10,000, or MINI-GRANTS of up to $1000 for projects that benefit “the common good” in a range of ways.  Click the button above to download the Proposal Form. <br /><br />

The Alumni Committee does not want the guidelines for the first year of the Garden Hill Fund to be overly restrictive, because we view this first round of grants as a learning opportunity for us.  That said, we are looking to fund proposals that meet much of the following criteria:<br />
•	Creative responses to the Mission of the school and the spirit of the alumni initiative.  (We would like to fund a diversity of projects.)<br />
•	Projects that have a clear positive impact on other people<br />
•	Tangible results within a reasonably short time span<br />
•	Skill-building in the graduate, which can be used in further endeavors<br />
•	Lean and realistic project budgets <br />
•	Ongoing impact of the project when possible<br /><br />

Examples might be:<br />
•	A college summer of service;<br />
•	A “big idea” from a recent college graduate who needs some seed money to investigate it;<br />
•	A community-based project that exemplifies the idea of “knowing and caring for a place,” brought by a graduate who volunteers time and expertise where he or she lives;<br />
•	A new program in the civic sector that needs seed money, brought by a graduate who has a leadership role in a non-profit organization<br /><br />

But we are open to other creative responses to the two missions.<br /><br />

<strong>Deadlines for Proposals:</strong><br />
There will be two rounds of grant-making in the 2013-14 academic year, so students in both the fall and spring semesters can participate if they wish.<br /><br />

The first deadline is <strong>September 6th</strong>, with notification of awards in late November.
The second deadline is <strong>February 7th</strong>, with notification in late April.<br /><br />

We expect to award a total of $45,000 in these two cycles.<br /><br />

<strong>Note:</strong> Current members of the Alumni Committee are ineligible to apply. <br /><br />

<strong>Questions?</strong><br />

Please refer to the document <%= link_to "Frequently Asked Questions", pages_faq_path %><br />

<p> You may direct any other questions via email to:  <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a> </p>
