<h1>How To Apply:</h1> <br />

<% if true %>
	<%= button_to "Download the Proposal Form", "/GardenHillFund_Application_20130714.docx", :method => :get %>
<% end %><br>

Complete the application form and email it to <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a><br><br>

<strong>Deadlines for Proposals:</strong><br />
<p>
There will be two rounds of grant-making in the 2014-15 academic year, so students in both the fall and spring semesters can participate in the reading and ranking of proposals.
</p>

<p>
The first deadline is September 8th, with notification of awards in November. The second deadline is February 9th, with notification in April.
</p>

<p>
We expect to award a total of $45,000 in these two cycles.
</p>

<strong>Questions?</strong><br />

Please refer to the document <%= link_to "Frequently Asked Questions", pages_faq_path %><br />

<p> You may direct any other questions via email to:  <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a> </p>


<!-- <iframe src="https://docs.google.com/forms/d/1r-ci2Qy4ThYP7MvaOa_GjpFIdk1KU1tflP2Ps9_FQlE/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
