<h1>How to Apply</h1>
<p>Instructions go here...</p>

<p> Email questions to <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a> </p>

<%= button_to "Download the application", "/FundApp.docx", :method => :get %>
