<h1>How To Apply:</h1> <br />

<% if true %>
	<%= button_to "Download the Proposal Form", "/GardenHillFund_Application_2013.docx", :method => :get %>
<% end %><br>

Complete the application form and email it to <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a><br><br>

<strong>Deadlines for Proposals:</strong><br />
There will be two rounds of grant-making in the 2013-14 academic year, so students in both the fall and spring semesters can participate in the reading and ranking of proposals.<br /><br />

The first deadline is <strong>September 6th</strong>, with notification of awards in late November.
The second deadline is <strong>February 7th</strong>, with notification in late April.<br /><br />

We expect to award a total of $45,000 in these two cycles.<br /><br />

<strong>Note:</strong> Current members of the Alumni Committee are ineligible to apply. <br /><br />

<strong>Questions?</strong><br />

Please refer to the document <%= link_to "Frequently Asked Questions", pages_faq_path %><br />

<p> You may direct any other questions via email to:  <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Inquiry", target="_blank">GardenHillFund@mountainschool.org</a> </p>


<!-- <iframe src="https://docs.google.com/forms/d/1r-ci2Qy4ThYP7MvaOa_GjpFIdk1KU1tflP2Ps9_FQlE/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->