<h1>Frequently Asked Questions</h1>
<div id="faq-list">
	<div class="question">
		Q: How do I apply?
	</div>
	<div class="answer">
		A: Please download the application form at <%= link_to 'http://gardenhillfund.org/pages/apply', pages_apply_path %> and email the completed form to <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Application", target="_blank">GardenHillFund@mountainschool.org</a>.
	</div><br>

	<div class="question">
		Q: What is the timing for applying?
	</div>
	<div class="answer">
		<strong>A:</strong> There will be two rounds of grant-making in the 2013-14 academic year, so students in both the fall and spring semesters can participate if they wish.
		<br />
		The first deadline is <strong>September 6th</strong>, with notification of awards in late November. The second deadline is <strong>February 7th</strong>, with notification in late April.
	</div><br>

	<div class="question">
		Q: What size grants are available?
	</div>
	<div class="answer">
		<strong>A:</strong> There are two types of grants available: <br>
		&nbsp&nbsp■	Mini-Grant: up to $1,000, or <br>
		&nbsp&nbsp■	Garden Hill Grant: between $2,000-10,000 <br>
	Each application should address the rationale for the specific grant amount.	
	</div><br>

	<div class="question">
		Q: Who will decide which projects receive funding?
	</div>
	<div class="answer">
		<strong>A:</strong> The Alumni Committee will make the grants, with input from a selection of Mountain School students, faculty, and donors.  Visit <a href="http://gardenhillfund.org">http://gardenhillfund.org</a> for a description of the evaluation process.
	</div><br>

	<div class="question">
		Q: How do I donate to the Garden Hill Fund?
	</div>
	<div class="answer">
		<strong>A:</strong> The first year pilot has been made possible by the generous gifts of 10 graduates, ranging from Spring ‘85 to Spring ‘97.  In the future we plan to develop a more formalized process for raising additional funds in order to continue to make grants.  If you are interested in learning more about donating to the fund, please contact us at <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Application", target="_blank">GardenHillFund@mountainschool.org</a> or reach out to <a href="mailto:davidandnancy.grant@mountainschool.org?Subject=Garden%20Hill%20Fund%20Application", target="_blank">David or Nancy Grant (davidandnancy.grant@mountainschool.org)</a>.
	</div><br>

	<div class="question">
		Q: What if I have more questions?
	</div>
	<div class="answer">
		<strong>A:</strong>Please send us a note at <a href="mailto:GardenHillFund@mountainschool.org?Subject=Garden%20Hill%20Fund%20Application", target="_blank">GardenHillFund@mountainschool.org</a> and we will get back to you ASAP.  Alternatively, feel free to reach out to <a href="mailto:davidandnancy.grant@mountainschool.org?Subject=Garden%20Hill%20Fund%20Application", target="_blank">David or Nancy Grant (davidandnancy.grant@mountainschool.org</a>.
	</div><br>

	<div class="question">
		Q: How do I learn more about the projects that have been funded?
	</div>
	<div class="answer">
		<strong>A:</strong> Projects that have been awarded grant funds will be posted at <a href="http://gardenhillfund.org">http://gardenhillfund.org</a>   
	</div><br>

	<div class="question">
		Q: If I am awarded a grant, what will be expected of me?
	</div>
	<div class="answer">
		<strong>A:</strong> 
		All grant recipients will be asked to report back to the Alumni Committee within one year to describe their project outcomes or progress to date. Project questionnaires and profiles of funded and completed projects will be posted at <a href="http://gardenhillfund.org">www.gardenhillfund.org</a>. <br>
		Recipients of Garden Hill Grants ($2,000-$10,000) will also be asked to choose one additional way to share their experience with the Mountain School community. This could include:<br>
		&nbsp&nbsp&nbsp○		a short feature article for the Mountain School Alumni Newsletter<br>
		&nbsp&nbsp&nbsp○		a video or documentary <br>
		&nbsp&nbsp&nbsp○		a presentation or participation in a panel at an Alumni event, or at the Mountain School<br>
		&nbsp&nbsp&nbsp○		a blog  <br>
		&nbsp&nbsp&nbsp○		other creative ideas are welcomed!
	</div><br>	




</div>