<h1>Frequently Asked Questions</h1>
<div id="faq-list">
	<div class="question">
		Q: How do I apply?
	</div>
	<div class="answer">
		A: 
	</div><br>

	<div class="question">
		Q: What is the application deadline?
	</div>
	<div class="answer">
		A:
	</div><br>

	<div class="question">
		Q: Can I apply in later rounds?
	</div>
	<div class="answer">
		A:
	</div><br>
</div>