<h1>The Garden Hill Fund: Cultivating the Common Good</h1> <br />

This new program of the Mountain School Alumni Initiative will support the good work of Mountain School graduates of all ages as they bring to life the mission of the school  -- <strong>to reach beyond the self and focus on the common good</strong> -- in their own communities and the larger world. <br /><br />

<strong>Background:</strong> In a survey of Mountain School graduates in 2012, the idea of creating a mechanism that would allow the school’s graduates to support each other’s good work in the world was widely endorsed.  82% of respondents said they would consider contributing to such a fund, and 53% said they would consider applying to it!  The only caution expressed repeatedly was that the new fund should not decrease donations to the Mountain School’s Annual Fund. <br /><br />

This year, ten graduates, ranging from Spring ’85 to Spring ’97, have made generous gifts of $5000 each, over and above any contribution they were making to the Annual Fund, in order to launch the new Fund.  Four of them are on the inaugural Alumni Committee, and that group has decided to name the Fund after the Mountain School’s iconic landmark and symbol of growth, community, and aspiration: Garden Hill. <br /><br />

<%= image_tag("/images/GardenHillBuckets.png", :height => '820', :width => '2000', :alt => "Garden Hill") %>