<h1>The Garden Hill Fund: Cultivating the Common Good</h1> <br />

<p>
The Garden Hill Fund is a program of the Mountain School Alumni Initiative.  Grants from the Fund support the good work of Mountain School graduates of all ages as they bring to life the mission of the school -- to reach beyond the self and focus on the common good -- in their own communities and the larger world.
</p>

<p>
<b>Background:</b> In a survey of Mountain School graduates in 2012, the idea of creating a mechanism that would allow the school’s graduates to support each other’s good work in the world was widely endorsed. 82% of respondents said they would consider contributing to such a fund, and 53% said they would consider applying to it! The only caution expressed repeatedly was that the new fund should not decrease donations to the Mountain School’s Annual Fund.  In 2013, ten graduates, ranging from Spring ’85 to Spring ’97, made generous gifts of $5000 each in order to launch the new Fund, which the Alumni Committee decided to name after the Mountain School’s iconic landmark and symbol of growth, community, and aspiration: Garden Hill.
</p>

<p>
The first two rounds of grants were announced in October, 2013 and April, 2014, after a selection process that involved not only a committee of graduates but also significant input from current students.
</p>

<%= image_tag("/images/GardenHillBuckets.png", :height => '820', :width => '2000', :alt => "Garden Hill") %>
