<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner">
		<div class="container">
		  <ul class="nav pull-right">
		    <li><a href="https://www.facebook.com/pages/The-Mountain-School-of-Milton-Academy/252084468164123">Facebook</a>
		    <li><a href="http://www.linkedin.com/groups?gid=150431&trk=group-name">LinkedIn</a>
		    <li><a href="https://twitter.com/MountainSchool">Twitter</a>
		  </ul>
</div>