<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner">
		<div class="container">
		  <ul class="nav pull-left">
		  	<li><%= link_to 'Next deadline: September 6, 2013', pages_apply_path %></li>
		  </ul> 
		  <ul class="nav pull-right">
		  	<li><a href="https://www.mountainschool.org/podium/default.aspx?t=1300" target="_blank">Alumni Directory</a>
		    <li><a href="https://www.facebook.com/pages/The-Mountain-School-of-Milton-Academy/252084468164123" target="_blank">Facebook</a>
		    <li><a href="http://www.linkedin.com/groups?gid=150431&trk=group-name" target="_blank">LinkedIn</a>
		    <li><a href="https://twitter.com/MountainSchool" target="_blank">Twitter</a>
		  </ul>
</div>